In [1]:
name = 'surya'
age =23

In [2]:
print("My name is %s and age is %d " %(name,age))

My name is surya and age is 23

In [3]:
bank_balance = 20333.45
print("My name is %s , age is %d and bank balance is %f " %(name,age,bank_balance))

My name is surya , age is 23 and bank balance is 20333.450000

In [4]:
print("My name is {} and age is {} ".format(name,age))

My name is surya and age is 23

In [5]:
print("My name is {} and age is {} ".format(age,name))

My name is 23 and age is surya

In [6]:
print("My name is {a} and age is {n} ".format(n=name,a=age))

My name is 23 and age is surya

In [7]:
# advance way of formate output
print(f"my name is {name}, age is {age}, and bank balance is {bank_balance}")

my name is surya, age is 23, and bank balance is 20333.45

In [14]:
# take multiple input in python  using split funtion
a,b= input().split()
c = int(a)+int(b)
print(c)

20 30
50

In [16]:
# take multiple input in python using list comprehension and split function
a,b,c = [int(x) for x in input("Enter Number : ").split()]
print(a+b+c)

Enter Number : 10 20 20
50

In [18]:
[x**2  for x in range(1,50,2)]

[1,
 9,
 25,
 49,
 81,
 121,
 169,
 225,
 289,
 361,
 441,
 529,
 625,
 729,
 841,
 961,
 1089,
 1225,
 1369,
 1521,
 1681,
 1849,
 2025,
 2209,
 2401]

In [19]:
def fun1(a,b):
    return a+b, a-b
print(fun1(10,20))

(30, -10)