In [1]:
print("hello")

hello

In [2]:
name="sunny"

In [3]:
print("hello",name)

hello sunny

# format specifier

In [4]:
name

'sunny'

In [5]:
last_name="savita"

In [6]:
print("hello %s  how are you %s" %(name,last_name))

hello sunny  how are you savita

In [7]:
a=10

In [8]:
print("value of a is %d" %a)

value of a is 10

In [9]:
a=10
name="sunny"
b=20.9

# Simple pythonic way

In [10]:
print("value of a is",a,"name is",name,"value of b is",b)

value of a is 10 name is sunny value of b is 20.9

# with format specifier

In [11]:
#number of format specifier and variable must be a same
print("value of a is %d vlaue of b is %s value of name is %f"%(a,name,b))

value of a is 10 vlaue of b is sunny value of name is 20.900000

# with format function

In [12]:
var=10
name="sunny"

In [13]:
a=100

In [14]:
print(a)

100

In [15]:
print("value of a is",a)

value of a is 100

In [16]:
print("the value of a is %d"%a)

the value of a is 100

In [17]:
print("value of is {}".format(a))

value of is 100

In [18]:
b=200

In [19]:
print("value of a is {} value of b is {}".format(a,b))

value of a is 100 value of b is 200

In [20]:
name="rajat"
age=27

In [21]:
print("name is {} age is {}".format(name,age))

name is rajat age is 27

In [22]:
print("name is {} age is {}".format(age,name))

name is 27 age is rajat

In [23]:
print("name is {name} age is {age}".format(age,name))

KeyError: 'name'

In [24]:
print("name is {1} age is {0}".format(age,name))

name is rajat age is 27

In [25]:
print("name is {n} age is {a}".format(a=age,n=name))

name is rajat age is 27

In [26]:
print("name is {n} age is {a}".format(a=age,n=name))

name is rajat age is 27

In [27]:
print("name is {} age is {}".format(name,age))

name is rajat age is 27

In [28]:
x=50

In [29]:
if x>50:
    prnt("we are in first if")
if x==50:
    print("we are in second if")
if x<50:
    print("we are in third if")

we are in second if

In [30]:
if x>50:
    print("we are in")
    
if x<50:
    print("we are in second if")
else:
    print("we are out")

we are out

In [31]:
a=50

In [32]:
if a==50:
    print("we are in first if")
elif a==50:
    print("we are in second if")
elif a==50:
    print("we are in third if")
else:
    print("we are out")

we are in first if

In [33]:
if x==50:
    print("we are in first if")
if x==50:
    print("we are in second if")
if x==50:
    print("we are in third if")

we are in first if
we are in second if
we are in third if

# sujit
# second one is complete block of execution

# Accept an integer from the user and check whether it is an even or odd

In [34]:
s= int(input('enter number'))
if s%2 == 0:
    print('even')
         
else:
    print('odd')

enter number45
odd

In [35]:
a= int(input("please enter any number"))
if a%2==0:
    print("number is even")
else:
    print("number is not even")

please enter any number78
number is even

In [36]:
num = int(input("Enter a number: "))
if (num % 2) == 0:
   print("{0} is Even".format(num))
else:
   print("{0} is Odd".format(num))

Enter a number: 78
78 is Even

In [37]:
a=int(input("Enter the Number"))
b=a%2
if(b==0):
    print("Number is even")
else:
    print("Number is odd")

Enter the Number7899
Number is odd

# WAP to accept a character from the user and check whether it is a capital letter or small letter. Assume user will input only alphabets

In [43]:
ch=input("please enter the character")
if "A"<=ch[0]<="Z":
    print("this character will be a capital one")
else:
    print("this character will be a small one")

please enter the characterSURYA
this character will be a capital one

In [39]:
#manish#wrong
a= input("please enter a char")
if a.lower()== True:
    print("char is lower")
elif a.upper()== True:
    print("char is upper")
else:
    print("out")

please enter a char
out

In [45]:
#satish
char = input("enter char :")

ascivalue = ord(char)

if (ascivalue >= 97 and ascivalue <= 122) :
    print ("small latter ")
else:
    print("Capital Letter ")

enter char :SURYA

TypeError: ord() expected a character, but string of length 5 found

In [46]:
#ajay
charVal = input("Enter Character: ")
if charVal == charVal.lower():
    print("{} is Small".format(charVal))
else:
     print("{} is Capital".format(charVal))

Enter Character: SURYA
SURYA is Capital

In [48]:
#siddhart
a=input("Enter the character ")
if a.isupper()==True :
    print ("{} is a capital letter ".format(a))
else :
    print ("{} is a lower letter ".format(a))

Enter the character SURYA
SURYA is a capital letter

In [ ]:
#raj #wrong
import string
a=input("Enter char: ")
if a in string.ascii_uppercase:
    print(a," is Uppercase")
else:
    print(a," is lowercase")

In [ ]:
a=50

In [ ]:
if a>50:
    print("correct")
    print("fine")
print("alright")

# nested if : if inside if(we can write as many as if )

In [ ]:
a=100
b=200
c=0

In [ ]:
if a<110:
    print("we are in first if statement")
    if b<199:
        print("we are in second if statement")
    else:
        print("we are out from second if")
        if c>0:
            print("we are in third if")
        elif c==0:
            print("we are in elif of third if")
        else:
            print("we are out from third if")

In [ ]:
if:
elif:
elif:
else:

# WAP to accept 3 integers from the user and without using any logical operator and cascading of relational operators , find out the greatest number amongst them

In [ ]:
X=100
y=500
z=200

In [ ]:
X=int(input("enter first no"))
y=int(input("enter second no"))
z=int(input("enter third no"))
if X>y:
    if X>z:
        print("first will be greatest")
elif y>X:
    if y>z:
        print("second is a greatest")
else:
    print("third is a greaest")

In [ ]:
#srikant
def maximum(a, b, c):
  
    if (a >= b) and (a >= c):
        largest = a
  
    elif (b >= a) and (b >= c):
        largest = b
    else:
        largest = c
          
    return largest

In [ ]:
maximum(1042534638,2002657439,523954743)

In [49]:
#prajesh
n=int(input("please enter three number"))
x=list(map(int,input().split()))
print(max(x))

please enter three numberABCDE

ValueError: invalid literal for int() with base 10: 'ABCDE'

In [55]:
x=input("enter three number with space")
a,b,c=x.split()

enter three number with spaceA V D

In [56]:
a

'A'

In [57]:
b

'V'

In [58]:
c

'D'

# while loop

In [ ]:
x=10
i=1
while i<=x:
    print("sunny")
    print(i)
    i=i+1#increment condition
  
print("loops end")

# print 50 natural numbers with while loop

# 1 to 50

# Write a program to accept # a string from the user and display it vertically but don’t display the vowels in it.

# do it with while loop

In [ ]:
#prem
text = input('Enter text:')
for char in text:
    if char not in 'aeiou':
        print(char)

In [ ]:
#dawood
str = input("Write something:")

i = 0
while i<len(str):
    if str[i] not in 'aeiou':
        print(str[i])
    i=i+1

In [ ]:
#prejesh(this is upcoming concept)
x=['a','e','i','o','u']
q=[]
z=str(input())
for i in z:
    if i not in x:
        q.append(i)
for j in q:
    print(j)

In [ ]:
#shirishia
n=input("enter a string:")
a=0
while(a<len(n)):
    if n[a]!='a' and n[a]!='e' and n[a]!='i' and n[a]!='0' and n[a]!='u':
        print(n[a])
    a+=1

In [ ]:
name = input("Enter a string: ")
for i in name:
    print(i)

In [ ]:
#devendra
a=(input("enter the string "))
for i in a:
    if i in ["a","e","i","o","u"]:
        continue
    else:
        print(i)

In [ ]:
#srikant
s=input()
l=["a","e","i","o",”u”,”A”,”E”,”I”,”O”,”U”]
l1=[]
for i in s:
if(i not in l):
l1.append(i)
print(*l1)